* {
  padding:0%;
  margin: 0%;
  box-sizing:border-box;
}

/* comments zet je hier */

body {
    background: #fff0db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3%;
    color:rgb(91, 65, 35);
}


h1 {
  text-align: center;
  color:rgb(205, 107, 50);
}

h1 {
  width: 60vw;
  height: 5%; 
  margin-left: 18vw;
}

h3 { /* intro van pagina */
  font-size: 1.1em;
  text-align: center;
  font-weight: 605;
}

img {
    width: 25%;
    height:30%;
    padding: 2em 1em 1em 1em;
}

nav ul { /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  justify-content: center; 
}

nav ul li {
  margin-left: 2.5em;
  margin-right: 1em;
  list-style-type: none;
  border: 1.5px solid #ddb892;
  background: #ddb892;
  padding: 3px;
  width: 12vw;
  height: 100%;
  border-radius: 7px;
  text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: rgb(91, 65, 35);
}

ul {
    list-style-type: square;
  }
